.app-bar {
  display: flex;
  flex-shrink: 0;
  align-items: center;

  padding: 0rem var(--spacing-normal);
  width: 100%;
  height: var(--dim-appbar-height);

  background-color: var(--color-gray-500);
  justify-content: space-between;

  &__logo {
    color: var(--color-white);
    font-size: 1.25rem;
  }

  &__user {
    color: var(--color-white);
  }

  &__start-side {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
